<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Title</key>
		<string>Page1</string>
		<key>iconTitle</key>
		<string>Home</string>
		<key>Icon</key>
		<dict>
			<key>srcLocation</key>
			<string>localFile</string>
			<key>filename</key>
			<string>53-house</string>
			<key>fileext</key>
			<string>png</string>	
		</dict>	
		<key>backgroundColor</key>
		<dict>
			<key>colorname</key>
			<string>gray</string>
		</dict>
		<key>navigationBar</key>
		<dict>
			<key>BarHidden</key>
			<false/>
			<key>barStyle</key>
			<string>Black</string>
			<key>prompt</key>
			<string>Home</string>
			<key>rightBarButton</key>
			<dict>
				<key>type</key>
				<string>SystemItem</string>
				<key>systemItem</key>
				<string>Undo</string>
			</dict>
		</dict>			

		<key>Children</key>
		<array>	
		
			<dict>
			<key>viewType</key>
			<string>toolbar</string>
			<key>barStyle</key>
			<string>Black</string>
			<key>toolbaritems</key>
			<array>
				<dict>
				<key>type</key>
				<string>SystemItem</string>				
				<key>systemItem</key>
				<string>Camera</string>

				<key>actions</key>
				<dict>
					<key>Clicked</key>
					<array>
						<dict>
							<key>category</key>
							<string>ViewAction</string>
							<key>method</key>
							<string>selectTab</string>	
							<key>params</key>
							<dict>
								<key>tab</key>
								<integer>1</integer>
							</dict>
						</dict>
					</array>
				</dict>	
				
				</dict>	
				<dict>
				<key>type</key>
				<string>SystemItem</string>				
				<key>systemItem</key>
				<string>Bookmarks</string>
				</dict>	
				<dict>
				<key>type</key>
				<string>TextItem</string>				
				<key>text</key>
				<string>Test</string>
				</dict>	
				<dict>
				<key>type</key>
				<string>ImageItem</string>				
				<key>imagefile</key>
				<dict>
					<key>srcLocation</key>
					<string>localFile</string>
					<key>filename</key>
					<string>53-house</string>
					<key>fileext</key>
					<string>png</string>	
				</dict>	
				</dict>				
			</array>
			</dict>
		
			<dict>
				<key>text</key>
				<string>Label</string>
				<key>name</key>
				<string>lblName</string>
				<key>viewType</key>
				<string>Label</string>
				<key>font</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
					<key>textAlignment</key>
					<string>left</string>
				</dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>120</integer>
					<key>width</key>
					<integer>80</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
			</dict>
			
			<dict>
				<key>viewType</key>
				<string>TextField</string>
				<key>name</key>
				<string>txtName</string>
				<key>text</key>
				<string>TextField</string>
				<key>font</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
				</dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>150</integer>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
				<key>borderstyle</key>
				<string>none</string>	
			</dict>	

			<dict>
				<key>viewType</key>
				<string>DatePicker</string>
				<key>name</key>
				<string>txtDate</string>
				<key>mode</key>
				<string>Time</string>
				<key>font</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
				</dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>250</integer>
					<key>y</key>
					<integer>150</integer>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
				<key>borderstyle</key>
				<string>none</string>	
			</dict>				

			<dict>
				<key>title</key>
				<string>Text Button</string>
				<key>name</key>
				<string>btnText</string>
				<key>viewType</key>
				<string>Button</string>
				<key>normalfont</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
				</dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>200</integer>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
				<key>type</key>
				<string>text</string>
			</dict>	

			<dict>
				<key>title</key>
				<string>Text Button BG</string>
				<key>name</key>
				<string>btnText</string>
				<key>viewType</key>
				<string>Button</string>
				<key>normalfont</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
				</dict>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>250</integer>
					<key>y</key>
					<integer>200</integer>
					<key>width</key>
					<integer>200</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
				<key>type</key>
				<string>text</string>
				<key>normalBackgroundImage</key>
				<dict>
					<key>srcLocation</key>
					<string>localFile</string>
					<key>filename</key>
					<string>wallpaper-icon</string>
					<key>fileext</key>
					<string>png</string>	
				</dict>					
			</dict>				

			<dict>
                <key>viewType</key>
                <string>Button</string>
				<key>type</key>
				<string>image</string>
				<key>name</key>
				<string>btnImage</string>				
				<key>title</key>
				<string>Image Button</string>				
                <key>normalfont</key>
                <dict>
                    <key>fontName</key>
                    <string>system</string>
                    <key>fontSize</key>
                    <integer>14</integer>
                    <key>textColor</key>
                    <dict>
                        <key>colorName</key>
                        <string>purple</string>
                    </dict>
                </dict>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>30</integer>
                    <key>y</key>
                    <integer>270</integer>
                    <key>width</key>
                    <integer>45</integer>
                    <key>height</key>
                    <integer>45</integer>
                </dict>
				<key>normalimage</key>
				<dict>
					<key>srcLocation</key>
					<string>localFile</string>
					<key>filename</key>
					<string>administrator</string>
					<key>fileext</key>
					<string>png</string>	
				</dict>			
			</dict>
			
			<dict>
                <key>viewType</key>
                <string>Button</string>
				<key>type</key>
				<string>image</string>
				<key>name</key>
				<string>btnImage</string>				
				<key>title</key>
				<string>Image Button</string>				
                <key>normalfont</key>
                <dict>
                    <key>fontName</key>
                    <string>system</string>
                    <key>fontSize</key>
                    <integer>14</integer>
                    <key>textColor</key>
                    <dict>
                        <key>colorName</key>
                        <string>purple</string>
                    </dict>
                </dict>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>95</integer>
                    <key>y</key>
                    <integer>270</integer>
                    <key>width</key>
                    <integer>45</integer>
                    <key>height</key>
                    <integer>45</integer>
                </dict>
				<key>normalimage</key>
				<dict>
					<key>srcLocation</key>
					<string>localFile</string>
					<key>filename</key>
					<string>administrator</string>
					<key>fileext</key>
					<string>png</string>	
				</dict>
				<key>normalBackgroundImage</key>
				<dict>
					<key>srcLocation</key>
					<string>localFile</string>
					<key>filename</key>
					<string>wallpaper-icon</string>
					<key>fileext</key>
					<string>png</string>	
				</dict>					
			</dict>			
			
			<dict>
                <key>viewType</key>
                <string>Button</string>
				<key>type</key>
				<string>system</string>
				<key>buttontype</key>
				<string>infolight</string>				
				<key>title</key>
				<string>Button</string>				
                <key>normalfont</key>
                <dict>
                    <key>fontName</key>
                    <string>system</string>
                    <key>fontSize</key>
                    <integer>14</integer>
                    <key>textColor</key>
                    <dict>
                        <key>colorName</key>
                        <string>purple</string>
                    </dict>
                </dict>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>30</integer>
                    <key>y</key>
                    <integer>330</integer>
                    <key>width</key>
                    <integer>18</integer>
                    <key>height</key>
                    <integer>18</integer>
                </dict>				
			</dict>	

			<dict>
                <key>viewType</key>
                <string>Button</string>
				<key>type</key>
				<string>toggle</string>
				<key>title</key>
				<string>Toggle Button</string>				
                <key>normalfont</key>
                <dict>
                    <key>fontName</key>
                    <string>system</string>
                    <key>fontSize</key>
                    <integer>14</integer>
                    <key>textColor</key>
                    <dict>
                        <key>colorName</key>
                        <string>purple</string>
                    </dict>
                </dict>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>30</integer>
                    <key>y</key>
                    <integer>360</integer>
                    <key>width</key>
                    <integer>200</integer>
                    <key>height</key>
                    <integer>30</integer>
                </dict>			
			</dict>		

			<dict>
                <key>viewType</key>
                <string>Button</string>
				<key>type</key>
				<string>checkbox</string>
				<key>name</key>
				<string>checkbox</string>				
				<key>title</key>
				<string>Checkbox Button</string>				
                <key>normalfont</key>
                <dict>
                    <key>fontName</key>
                    <string>system</string>
                    <key>fontSize</key>
                    <integer>14</integer>
                    <key>textColor</key>
                    <dict>
                        <key>colorName</key>
                        <string>purple</string>
                    </dict>
                </dict>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>250</integer>
                    <key>y</key>
                    <integer>360</integer>
                    <key>width</key>
                    <integer>200</integer>
                    <key>height</key>
                    <integer>30</integer>
                </dict>			
			</dict>				

			<dict>
			<key>viewType</key>
			<string>Image</string>
			<key>name</key>
			<string>image</string>
			<key>image</key>
			<dict>
				<key>srcLocation</key>
				<string>localFile</string>
				<key>filename</key>
				<string>car</string>
				<key>fileext</key>
				<string>jpg</string>	
			</dict>				
			<key>frame</key>
			<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>420</integer>
					<key>width</key>
					<integer>100</integer>
					<key>height</key>
					<integer>50</integer>
			</dict>					
			</dict>
			
			<dict>
			<key>viewType</key>
			<string>textView</string>
			<key>name</key>
			<string>txtView</string>
			<key>editable</key>
			<true/>
				<key>font</key>
				<dict>
					<key>fontName</key>
					<string>system</string>
					<key>fontSize</key>
					<integer>14</integer>
					<key>textColor</key>
					<dict>
						<key>colorName</key>
						<string>black</string>
					</dict>
					<key>textAlignment</key>
					<string>left</string>
				</dict>			
			<key>frame</key>
			<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>490</integer>
					<key>width</key>
					<integer>400</integer>
					<key>height</key>
					<integer>60</integer>
			</dict>	
			</dict>	

			<dict>
				<key>viewType</key>
				<string>Slider</string>
				<key>name</key>
				<string>slider</string>
				<key>currentValue</key>
				<real>70.0</real>
				<key>minimumValue</key>
				<real>0.0</real>
				<key>maximumValue</key>
				<real>100</real>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>580</integer>
					<key>width</key>
					<integer>600</integer>
					<key>height</key>
					<integer>10</integer>
				</dict>
			</dict>	

			<dict>
				<key>viewType</key>
				<string>searchbar</string>
				<key>name</key>
				<string>searchbar</string>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>610</integer>
					<key>width</key>
					<integer>600</integer>
					<key>height</key>
					<integer>30</integer>
				</dict>
			</dict>

			<dict>
				<key>viewType</key>
				<string>canvas</string>
				<key>canvasName</key>
				<string>canvas</string>
				<key>frame</key>
				<dict>
					<key>x</key>
					<integer>30</integer>
					<key>y</key>
					<integer>650</integer>
					<key>width</key>
					<integer>400</integer>
					<key>height</key>
					<integer>50</integer>
				</dict>
			</dict>	

			<dict>
				<key>viewType</key>
				<string>Switch</string>
				<key>name</key>
				<string>switch</string>
                <key>frame</key>
                <dict>
                    <key>x</key>
                    <integer>30</integer>
                    <key>y</key>
                    <integer>620</integer>
                    <key>width</key>
                    <integer>160</integer>
                    <key>height</key>
                    <integer>30</integer>
                </dict>	
				<key>actions</key>
				<dict>
				<key>On</key>
				<array>
					<dict>
						<key>category</key>
						<string>AlertAction</string>
						<key>method</key> 
						<string>alert</string>	
						<key>params</key>
						<dict>
							<key>Style</key>
							<string>default</string>
							<key>Title</key>
							<string>On</string>
							<key>Message</key>
							<string>Button On</string>
						</dict>
					</dict>
				</array>
				<key>Off</key>
				<array>
					<dict>
						<key>category</key>
						<string>AlertAction</string>
						<key>method</key> 
						<string>alert</string>	
						<key>params</key>
						<dict>
							<key>Style</key>
							<string>default</string>
							<key>Title</key>
							<string>Off</string>
							<key>Message</key>
							<string>Button Off</string>
						</dict>
					</dict>
				</array>				
				</dict>			
			</dict>			
			
		</array>
	</dict>
</plist>
